
#navigation_bar{
	min-width: 1268px;
	background-color: green;
	border-color: 2px solid #8B0000;
}

#options_navigation{
	display: inline-block;
}

#setLog_navigation{
	display: inline-block;
	float: right;
}

.navigation_button{
	background-color: transparent;
	border-color: transparent;
	color: white;
	font-style: bold;
	font-size: 20px;
}

.navigation_button:active{
	color: white;
	background-color: #006400;
}

.navigation_button:hover{
	background-color: #90EE90;
	color: black;
}