#body{
	background-color: #F5FFFA ;	
}
/*
#header{
	vertical-align: center;
	background-color: #FFF8DC;
}

#logo{
	text-align: left;
	height: 180px;
	width: 180px;
	display: inline-block;
	vertical-align: center;
}

#name{
	display: inline-block;
	text-align: center;
	vertical-align: center;
	margin-left: 10px;
	vertical-align: top;
}
#college_name{
	text-align: center;
	color: black;
	font-style: bold;
	font-family: serif;
	font-size: 30px;
}

#sub_headline{
	text-align: center;
	color: #778899;
	font-style: bold;
	font-family: serif;
	font-size: 25px;
}
*/